/* 
Authoer: Jayden Johnson
Date: 11/3/2023
File Name: styles.css
*/
/*CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}
/* Style rule for body and images */
body{
	background-color: #000;
}

img{
	max-width: 100%;
	display: block;
}

/* style rules for mobile viewport */


header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}

nav {/* Style rules for navigation area */
	padding: 1%;
}

nav ul{
	list-style-type: none;
	text-align: center;
}

nav li{
	border-top: 1px solid #fff;
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
}

nav li:first-child {
	border-top: none;
}

nav li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}
/* Style rules for main content */
main {
	clear: both;
	background-color: #fff;
	padding: 2%;
	font-size: 1.23em;
	font-family: 'Roboto Slab', seriff;
}

.tel-link {
	background-color: #404040;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 15px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.hours {
	margin-left: 10%;
}

.action {
	font-size: 1.35em;
	color: #606;
	font-weight: bold;
}

#weights, #cardio, #training {
	margin: 0 2%;
}

.round {
	border-radius: 8px;
}

/*media query for Tablet */
@media screen and (min-width: 630px){
	/* Tabket Viewport: show tablet desktop class, hide mobile class*/
	.tablet-desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/* Header Viewport: style rule for header */
	header {
		position: static;
		padding-bottom: 2%;
	}
	
	/* Tablet Viewport: style rule for nac area */
	nav li {
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child {
		border-right: none;
	}
	
	nav li a {
		padding: 0.1em 0.75em;
	}
}
/* #exercises {
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f2f2f2;
	padding: 1% 2%;
}

#exercise dt {
	font-weight: bold;
	
}

#exercise dd {
	padding: 0.5% 1% 2% 0;
}
*/
.external-link {
	color: #606;
	font-weight: bold;
	text-decoration: none;
}

#contact .contact-email-link{
	text-align: center;
	color: #660066;
	text-decoration: none;
}

.map {
	border: 8px solid #000;
	width: 95%;
	height: 50%;
}
/* Style rules for footer */
footer p{
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
	
}

footer p a {
	color: #fff;
	text-decoration: none;
		
}